.hide{
  display:none;
}

.product-summary-content {
  display       : flex;
  flex-direction: column;

  .title {
    font-size  : large;
    text-align: center;
    font-weight: bold;
  }

  .section {
    min-width: calc(100% - 4em);
    margin   : 2em;
  }

  .info {
    width: 100%;
  }

  .label {
    display    : inline-block;
    font-weight: bold;
  }

  .text {
    float      : right;
    text-align : start;
    font-weight: bold;
  }

  .summary-buttons {
    justify-content: center;
    text-align: center;
    width      : 100%;
    margin-bottom: 50px;
  }

  .button-first {
    min-width: 25%;
    float    : center;
    padding  : 1vh;
    background: lightgray;
    border-radius: 25px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }

  .button-label {
    font-size: medium;
    padding  : 1em;
  }

  @media screen and (max-width: 600px) {

    .button-first {
      min-width : 50%;
      text-align: center;
    }

  }
}

h2 {
  margin:0 0;
}

h3 {
  margin:0 0;
}

.utilsDiv{
  z-index: 1000!important;
  position:fixed;
  top: 45%;
  left: 45%;
  background-color: white;
  padding:2em 2em!important;
  border-radius:5px;
}