.product-type-content {
  overflow      : hidden;
  padding-bottom: 2.5em;
  width         : 100%;
  max-height    : 100%;
  touch-action  : pan-y !important;

  .card {
    display        : flex;
    margin         : 0.5em;
    justify-content: space-between;
    touch-action   : pan-y !important;
  }

  .card:hover {
    /* Animation */
    transition: transform .5s ease-in-out;
    transform : scale(1.05);
  }

  .correct-size {
    width: 7em;
  }

  .img {
    width: 100%;
  }

  .tooltip-color {
    background: red;
    font-size : large;
  }

  .button-scrollable {
    background  : none !important;
    border      : none;
    padding     : 0 !important;
    cursor      : pointer;
    outline     : none;
    touch-action: pan-y;
  }

  .icon {
    position  : relative;
    text-align: center;
  }

  .zoom-selected {
    transition: transform .2s ease-in-out;
    transform : scale(1.05);
  }

  .card-selected {
    // background         : rgb(243, 243, 243);
    background: rgb(175, 175, 175);
    opacity   : 0.9;
  }

  .next img {
    width   : 14vh;
    height  : auto;
    position: fixed;
    right   : 0px;
    bottom  : 0px;
    padding : 20px;
  }
}
