<div  class="content">
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="25">
            <mat-toolbar fxLayoutAlign="center center"><img src="https://conf.isupport.com.gr/assets/logo/logo2.png" alt=""></mat-toolbar>
             <form fxLayoutAlign="strecth" fxLayout="column" (ngSubmit)="login(form)" #form="ngForm">
                <mat-form-field class="hidden">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" value="" name="username" id="username" ngModel required minlength="9">
                </mat-form-field>
              
                <mat-form-field class="hidden">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="Password" value="" name="password" id="password" ngModel required minlength="9">
                </mat-form-field>
                <button mat-raised-button type="submit" class="hidden" [disabled]="!form.valid">Login</button>
                <button style="margin-top: 15px;color: rgb(0, 0, 0); background-color: #F0F0F0;" mat-raised-button type="button" (click)="guest()" > Login as Guest</button>
             </form>
        </mat-card>
    </div>
  </div>
    <!-- Footer -->
  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
    <!-- <div class="footer-logo-container" fxLayout="row" fxLayoutAlign="center center">  -->
      <!-- <img class="footer-logo" src="assets/footer_logo.png"> -->
      <h5 style="color:black;">Powered by <a href="https://isg.gr" target="_blank">isg Informatics</a></h5>
    <!-- </div> -->
  </div>
    